@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.searchTopContainer{
    display:flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding:1px;
    border-radius: 10px;
    border:1px solid grey;
    width:50%;
    justify-content: space-between;
}
.searchTop{
    background: transparent;
    height:30px;
    width:50%;
    outline:none;
    /* border:0.1px solid grey; */
    border:none;
    border-radius: 5px;
    margin:10px 0;
    color:white;
    padding:0 5px;
}
.btnTop{
    margin-left:5px;
    height:20px;
    /* border:0.1px solid grey; */
    border:none;
    outline:none;
    padding:5px;
    /* background-color:white; */
}
.btnTop:hover{
    transform:scale(0.9);
    /* border:0.1px solid grey; */
}
.dropDown{
    display:block;
    float:right;
    padding:5px;
}
.dropDown > label{
    margin-right:3px;
}
select{
    outline:none;
    border:none;
    color:white;
}
option{
    color:dodgerblue;
}
.formContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.input{
    opacity:0;
    width:0;
    height:0;
}
svg{
    margin-left:15px;
    align-items: center;
    margin-right:5px;
}
.labelContainer{
    margin:1vw 1vw;
    min-width:25%;
    text-align: center;
    background:rgba(63, 63, 63, 0.6);
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    display:flex;
    justify-content: flex-start;
    padding:15px 15px;
}
.labelContainer:hover {
    background-color: #027aff;
    transform: scale(1.10);
}
label{
    cursor: pointer;
    margin-bottom:0;
    font-size:1.2rem;
}
label>p{
    /* margin-top:-5px; */
    text-align: center;
    margin-left:0;
}
input:checked + .labelContainer{
    background:dodgerblue;
}
.container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.searchContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width:50%;
    border:1px solid grey;
    border-radius: 10px;
    margin-bottom:10px;
}
.searchResults{
   display:flex;
   justify-content: space-between;
   align-items: center;
   margin-top:-5px;
}
.btn{
    margin-left:5px;
    height:20px;
    /* border:0.1px solid grey; */
    border:none;
    outline:none;
    padding:5px;
    /* background-color:white; */
    font-family: 'Roboto', sans-serif;
}
.btn:hover{
    transform:scale(0.9);
}
.search{
    align-items: center;
    background: transparent;
    height:30px;
    width:50%;
    outline:none;
    /* border:0.1px solid grey; */
    border:none;
    /* border-radius: 5px; */
    margin:10px 0;
    color:white;
    padding:0 5px;
}

.textSearch{
    justify-content: space-between;
    border:0.1px solid grey;
    padding:0 10px;
    border-radius: 15px;
    width:80%;
    height:50px;
    align-items: center;
    margin-bottom: 10px;
    background-color: dodgerblue;
    color:white;
}
.wrapper{
    border-radius: 10px;
    border:1px solid grey;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:5px;
    padding:5px;
}
h2{
    margin:10px;
    text-transform:uppercase;
}
.textContainer{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    margin:auto;
    align-items: center;
}
.text{
    display:flex;
    flex-direction: column;
    border:0.1px solid grey;
    padding:0 10px;
    border-radius: 15px;
    width:80%;
    margin-top: 10px;
    margin-bottom:10px;
}
.mainDetails{
    display:flex;
    justify-content: space-between;
    margin-bottom:-10px;
}
.subDetails{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:10px;
}
.selectionContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:40px;
}
p{
    margin:5px;
    padding:0;
    font-family: 'Roboto',sans-serif;
}
.select{
    margin-top:15px;
}
.selection{
    font-family: 'Roboto', sans-serif;
}
.imgContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.imgContainer>img{
    width:35px;
    height:35px;
    /* background-color:#AA1047; */
    border-radius: 25px;
    margin-right:5px;
    margin-top:-5px;
}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
}
.expand{
    background:transparent;
    border:1px solid grey;
    outline:none;
    border-radius: 5px;
    cursor:pointer;
    width:20px;
    height:20px;
    margin-left:5px;
    color:white;
    text-align: center;
}
.expand:hover{
    transform: scale(0.9);
    color:dodgerblue;
}
input[type="radio"]{
    margin-top:10px;
    margin-right:5px;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 1.3px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
  }
  .input1:checked {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
  }
  .input2:checked{
      background-color: rgb(241, 46, 46);
      border: 1px solid rgb(184, 54, 54);
  }
  input[type="radio"]:focus{
      outline:none;
  }
  h4{
      font-family: 'Roboto',sans-serif;
  }
  .file{
      width:25px;
      height:25px;
  }
